/*
------------------------------------------------------------
 Anegen - Web Service untuk Analisis Ekspresi Gen
------------------------------------------------------------
 Oleh: Muhammad Faruq Nuruddinsyah
 Copyright 2017. All Rights Reserved.
------------------------------------------------------------
 Stylesheet: System
------------------------------------------------------------
*/


/* Global */

body{
	background-color: white;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: trebuchet ms, arial, sans-serif;
	font-size: 9pt;
}

table{
	font-family: trebuchet ms, arial, sans-serif;
	font-size: 9pt;
}

#header{
	display: block;
	background-color: #00ABA9;
	width: 100%;
	text-align: center;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

#header #big{
	display: inline-block;
	font-size: 22pt;
	padding-right: 10px;
}

#header #small{
	display: inline-block;
	font-size: 11pt;
}

.form{
	display: block;
	width: 600px;
	border: 1px solid #b0b0b0;
	padding: 15px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
}

#logo{
	position: absolute;
	top: 8px;
	left: 12px;
}

#username{
	position: absolute;
	top: 12px;
	right: 35px;
	color: white;
	text-transform: uppercase;
}

#logout_button{
	position: absolute;
	top: 12px;
	right: 10px;
	cursor: pointer;
}

#menu{
	display: inline-block;
	background-color: #00ABA9;
	width: 100%;
}

#menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 80px;
}

#menu ul li{
	display: block;
	position: relative;
	float: left;
}

#menu li ul{
	display: none;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 3px 0px 3px 0px;
	margin-left: 0px;
	background-color: white;
	z-index: 2;
	-webkit-box-shadow: 0px 12px 10px rgba(0,0,0,.09);
	-moz-box-shadow: 0px 12px 10px rgba(0,0,0,.09);
	box-shadow: 0px 12px 10px rgba(0,0,0,.09);
}

#menu ul li a{
	display: block;
	text-decoration: none;
	color: white;
	padding: 12px 12px 13px 12px;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	text-transform: uppercase;
}

#menu ul li a:hover{
	background-color: #009E9C;
}

#menu ul li .focused{
	display: block;
	text-decoration: none;
	color: white;
	padding: 12px 12px 13px 12px;
	white-space: nowrap;
	background-color: #009694;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#menu ul li .focused:hover{
	background-color: #008684;
}

#menu ul li .sub{
	display: block;
	text-decoration: none;
	color: white;
	padding: 12px 24px 13px 12px;
	white-space: nowrap;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	text-transform: uppercase;
	background-image: url('../resources/images/icons/down-menu.png');
	background-position: right;
	background-repeat: no-repeat;
}

#menu ul li .sub:hover{
	background-color: #009E9C;
}

#menu ul li .sub-focused{
	display: block;
	text-decoration: none;
	color: white;
	padding: 12px 24px 13px 12px;
	white-space: nowrap;
	background-color: #009694;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background-image: url('../resources/images/icons/down-menu.png');
	background-position: right;
	background-repeat: no-repeat;
}

#menu ul li .sub-focused:hover{
	background-color: #008684;
}

#menu ul li ul li a{
	display: block;
	text-decoration: none;
	color: #606060;
	padding: 6px 35px 7px 15px;
	white-space: nowrap;
}

#menu ul li ul li a:hover{
	color: #404040;
	background-color: #dadada;
}

#menu ul li ul li .focused{
	display: block;
	text-decoration: none;
	color: #00ABA9;
	padding: 6px 35px 7px 15px;
	white-space: nowrap;
	background-color: white;
}

#menu ul li ul li .focused:hover{
	color: #00ABA9;
	background-color: #dadada;
}

#menu li:hover ul{
	display: block;
	position: absolute;
}

#menu li:hover li{
	float: none;
}

#menu li:hover a{
	
}

#menu li:hover li a:hover{
	
}

#menu_tab_background{
	background-color: #f0f0f0;
	border-bottom: 1px solid #ffffff;
	height: 34px;
}

#menu_tab{
	position: absolute;
	top: 45px;
	left: 92px;
}

#menu_tab a{
	color: #404040;
	text-decoration: none;
	padding: 5px 12px 8px 12px;
	display: inline-block;
	position: relative;
	top: 0px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#menu_tab a:hover{
	color: black;
	background-color: #e4e4e4;
}

#menu_tab .focused{
	color: #00ABA9;
	text-decoration: none;
	border: 1px solid #ffffff;
	border-bottom: 1px solid white;
	background-color: white;
	padding: 5px 12px 8px 12px;
	display: inline-block;
	position: relative;
	top: 0px;
}

#menu_tab .focused:hover{
	color: #00ABA9;
	background-color: #ffffff;
}

#content #td_content{
	padding: 20px 80px 0px 92px;
}

#content #title{
	font-family: trebuchet ms, arial;
	font-size: 14pt;
	color: black;
	margin: 0px 0px 5px 0px;
}

#content #title_alt{
	font-family: trebuchet ms, arial;
	font-size: 14pt;
	color: #00ABA9;
	margin: 0px 0px 5px 0px;
}

#content #title_alt_2{
	font-family: trebuchet ms, arial;
	font-size: 14pt;
	color: #808080;
	margin: 0px 0px 5px 0px;
}

#footer{
	margin-top: 50px;
	padding: 10px 80px 30px 0px;
	color: #808080;
	text-align: right;
	border-top: 1px solid #e8e8e8;
}

#jadwal{
	
}

#jadwal #item{
	background-color: #f6f6f6;
	padding: 12px 15px 12px 15px;
	cursor: pointer;
}

#jadwal #item:hover{
	background-color: #ececec;
}

#jadwal #item img{
	visibility: hidden;
}

#jadwal #item:hover img{
	visibility: visible;
}

#jadwal #item #title{
	font-family: trebuchet ms, arial;
	font-size: 14pt;
	color: black;
	margin: 0px 0px 5px 0px;
}

.jam{
	display: inline-block;
	color: #606060;
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	margin: 0px 0px 10px 0px;
}

.jam:hover{
	background-color: #eeeeee;
}

.jam_focused{
	display: inline-block;
	color: #404040;
	background-color: #f0f0f0;
	text-decoration: none;
	padding: 3px 8px 3px 8px;
	margin: 0px 0px 10px 0px;
}

.jam_focused:hover{
	background-color: #e6e6e6;
}

#div_cari_pasien{
	position: absolute;
	top: 86px;
	right: 0px;
}

#div_cari_pasien #up_arrow{
	position: absolute;
	top: 0px;
	right: 34px;
}

#cari_pasien{
	position: absolute;
	top: 13px;
	right: 0px;
	background-color: white;
	padding: 10px 10px 10px 10px;
	border: 1px solid #a6a6a6;
}

#cari_pasien form{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 8px 10px;
}

#cari_pasien input[type=text]{
	width: 320px;
}

#cari_pasien #text{
	padding-top: 5px;
	padding-bottom: 6px;
}

#cari_pasien #div_daftar_nama{
	position: relative;
	width: 318px;
}

#cari_pasien #daftar_nama{
	visibility: hidden;
	width: 100%;
	position: absolute;
	top: -2px;
	border: 1px solid #b2b2b2;
	background-color: white;
}

#div_biodata_pasien{
	position: absolute;
	top: 86px;
	right: 0px;
}

#div_biodata_pasien #up_arrow{
	position: absolute;
	top: 0px;
	right: 166px;
}

#biodata_pasien{
	position: absolute;
	top: 13px;
	right: 118px;
	background-color: white;
	padding: 12px 14px 14px 14px;
	border: 1px solid #a6a6a6;
}

#biodata_pasien #title{
	font-family: trebuchet ms, arial;
	font-size: 14pt;
	color: black;
	margin: 0px 0px 10px 5px;
}

#buat_perjanjian{
	background-color: white;
	padding: 10px 10px 10px 10px;
}

#buat_perjanjian form{
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 8px 10px;
}

#buat_perjanjian input[type=text]{
	width: 320px;
}

#buat_perjanjian #text{
	padding-top: 5px;
	padding-bottom: 6px;
}

#buat_perjanjian #div_daftar_nama{
	position: relative;
	width: 318px;
}

#buat_perjanjian #daftar_nama{
	visibility: hidden;
	width: 100%;
	position: absolute;
	top: -2px;
	border: 1px solid #b2b2b2;
	background-color: white;
}


/* Search Name */

.div_list_user{
	visibility: hidden;
	z-index: 11;
	width: 100%;
	position: absolute;
	top: -1px;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	background-color: white;
	-webkit-box-shadow: 0px 12px 10px rgba(0,0,0,.09);
	-moz-box-shadow: 0px 12px 10px rgba(0,0,0,.09);
	box-shadow: 0px 12px 10px rgba(0,0,0,.09);
}

#list_user{
	padding: 7px 10px 7px 10px;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

#list_user:hover{
	background-color: #00ABA9;
	color: white;
	border-bottom: 1px solid #00ABA9;
}


/* Objects */

input, select, textarea{
	margin-bottom: 1px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 1px;
}

input[type=text], input[type=password], textarea{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 202020;
	padding: 3px 4px 3px 4px;
	background-color: white;
	border: 1px solid #b0b0b0;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover{
	border: 1px solid #808080;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus{
	border: 1px solid #808080;
}

select{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 404040;
	padding: 2px 3px 2px 3px;
	cursor: pointer;
	background-color: white;
	border: 1px solid #b0b0b0;
}

select:hover, select:focus{
	border: 1px solid #808080;
}

input[type=text][disabled], input[type=password][disabled], textarea[disabled], select[disabled]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 808080;
	padding: 3px 4px 3px 4px;
	background-color: #fafafa;
	border: 1px solid #c0c0c0;
	cursor: default;
}

input[type=button], input[type=reset], button{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: white;
	padding: 3px 14px 3px 14px;
	cursor: pointer;
	background-color: #00ABA9;
	border: 1px solid #00ABA9;
}

input[type=button]:hover, input[type=reset]:hover, button:hover{
	background-color: #24BAB8;
	border: 1px solid #24BAB8;
}

input[type=button]:active, input[type=reset]:active, button:active{
	background-color: #007B7A;
	border: 1px solid #007B7A;
}

input[type=button][disabled], input[type=reset][disabled], input[type=submit][disabled], button[disabled]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: a0a0a0;
	padding: 3px 14px 3px 14px;
	cursor: default;
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
}

input[type=button][disabled]:hover, input[type=reset][disabled]:hover, input[type=submit][disabled]:hover, button[disabled]:hover{
	color: a0a0a0;
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
}

input[class=gray_button]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: black;
	padding: 2px 14px 2px 14px;
	cursor: pointer;
	background-color: #e0e0e0;
	border: 1px solid #e0e0e0;
}

input[class=gray_button]:hover{
	background-color: #c0c0c0;
	border: 1px solid #c0c0c0;
}

input[type=submit]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: white;
	padding: 3px 14px 3px 14px;
	cursor: pointer;
	background-color: #00ABA9;
	border: 1px solid #00ABA9;
}

input[type=submit]:hover{
	background-color: #24BAB8;
	border: 1px solid #24BAB8;
}

input[type=submit]:active{
	background-color: #007B7A;
	border: 1px solid #007B7A;
}

input[type=file]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 9pt;
}

input[class=calendar]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 404040;
	padding: 3px 4px 3px 4px;
	background-color: white;
	background-image: url('../resources/images/icons/calendar.jpg');
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #b0b0b0;
	cursor: pointer;
}

input[class=calendar]:hover, input[class=calendar]:focus{
	border: 1px solid #808080;
}

input[class=combo]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 404040;
	padding: 3px 22px 3px 4px;
	background-color: white;
	background-image: url('../resources/images/icons/down-arrow.jpg');
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #a0a0a0;
	border-top: 1px solid #a0a0a0;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	cursor: pointer;
}

input[class=combo][disabled]{
	padding: 3px 22px 3px 4px;
	background-image: url('../resources/images/icons/down-arrow-gray.jpg');
}

input[class=search]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 202020;
	padding: 3px 22px 3px 4px;
	background-color: white;
	background-image: url('../resources/images/icons/search.png');
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #a0a0a0;
}

input[class=search][disabled]{
	padding: 3px 22px 3px 4px;
	background-image: url('../resources/images/icons/search-gray.jpg');
}

input[class=custom_file]{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: 404040;
	padding: 3px 24px 3px 4px;
	background-color: white;
	background-image: url('../resources/images/icons/file-upload.jpg');
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #b0b0b0;
	cursor: pointer;
}

input[class=custom_file]:hover, input[class=custom_file]:focus{
	border: 1px solid #808080;
}

.line{
	height: 1px;
	margin-top: .8em;
	margin-bottom: .7em;
	background-color: e0e0e0;
}

input[type=radio]{
	cursor: pointer;
}

input[type=checkbox]{
	cursor: pointer;
}

.customSelect{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 8pt;
	color: #404040;
	padding: 3px 3px 3px 5px;
	background-color: white;
	background-image: url('../resources/images/icons/down-arrow.jpg');
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #a0a0a0;
	cursor: pointer;
	text-align: left;
}

.customSelect.customSelectHover{
	border: 1px solid #808080;
}

.customSelect.customSelectOpen{
	
}

.customSelect.customSelectFocus{
	border: 1px solid #808080;
}

.customSelect.customSelectDisabled{
	color: a0a0a0;
	border: 1px solid #c0c0c0;
	background-color: white;
	background-image: url('../resources/images/icons/down-arrow-gray.jpg');
	background-repeat: no-repeat;
	background-position: right;
}

.customSelectInner{
	
}

.label_for{
	cursor: pointer;
}

.label_for:hover{
	color: #217346;
}

.caption{
	padding: 0px 0px 5px 0px;
}

.link{
	color: #00ABA9;
	text-decoration: none;
	cursor: pointer;
}

.link:hover{
	text-decoration: underline;
}

.link[target=_blank]{
	display: inline-block;
	background-image: url('../resources/images/icons/new-window.png');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 12px;
}

.link_more{
	color: #00ABA9;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	background-image: url('../resources/images/icons/link-down.png');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 12px;
}

.link_more:hover{
	text-decoration: underline;
}

.link_less{
	color: #00ABA9;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	background-image: url('../resources/images/icons/link-up.png');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 12px;
}

.link_less:hover{
	text-decoration: underline;
}

.frame{
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: #eaeaea;
	margin-bottom: 16px;
}

.frame_blue{
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: #e0e0e0;
	margin-bottom: 16px;
}

.frame_blue_sky{
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: #eaeaea;
	margin-bottom: 16px;
	text-align: center;
}

.frame_yellow{
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: #e0e0e0;
	margin-bottom: 16px;
}

.frame_yellow_sky{
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: #eaeaea;
	margin-bottom: 16px;
	text-align: center;
}

.disabled{
	color: #808080;
}

.red{
	color: #B00000;
	font-style: italic;
}

.blue{
	color: #00ABA9;
}

#content a{
	color: #00ABA9;
	text-decoration: none;
	cursor: pointer;
}

#content a:hover{
	text-decoration: underline;
}

#content a[target=_blank]{
	display: inline-block;
	background-image: url('../../resources/images/icons/new-window.png');
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 12px;
}

/* Data Table */

.data{
	
}

.data th{
	background-color: #00ABA9;
	color: white;
	font-weight: normal;
	text-align: center;
	padding: 5px 18px 5px 18px;
}

.data td{
	padding: 4px 12px 4px 12px;
}

#data_a{
	background-color: #eaeaea;
}

#data_b{
	background-color: #fafafa;
}

#data_a:hover{
	background-color: #CCFE9A;
}

#data_b:hover{
	background-color: #CCFE9A;
}

#data_focused{
	background-color: #B7DEFF;
}

#data_a_no_hover{
	background-color: white;
}

.data_no_border{
	
}

.data_no_border th{
	background-color: #00ABA9;
	color: white;
	font-weight: normal;
	text-align: center;
	padding: 5px 18px 5px 18px;
}

.data_no_border td{
	padding: 4px 12px 4px 12px;
}

.data_print{
	
}

.data_print th{
	text-align: center;
	padding: 5px 18px 5px 18px;
	
}

.data_print td{
	padding: 4px 12px 4px 12px;
}


/* Window */

#window{
	position: absolute;
	top: 45%;
	left: 50%;
	z-index: 101;
}

#window_table{
	background-color: white;
	border: 1px solid #e0e0e0;
	-webkit-box-shadow: 0px 12px 10px rgba(0,0,0,.09);
	-moz-box-shadow: 0px 12px 10px rgba(0,0,0,.09);
	box-shadow: 0px 12px 10px rgba(0,0,0,.09);
}

#window_table th{
	background-color: 217346;
	font-weight: normal;
	color: white;
	text-align: center;
	height: 30px;
	padding: 5px 8px 5px 8px;
	display: none;
}

#window_table td{
	
}

#window_table iframe{
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px 0px 0px 0px;
}

#window_table_no_title{
	background-color: white;
	border: 1px solid #e0e0e0;
}

#window_table th:hover #window_close{
	visibility: visible;
}

#window_close{
	background-image: url('../../resources/images/icons/close.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 12px;
	right: 13px;
	height: 11px;
	width: 11px;
	cursor: pointer;
	visibility: hidden;
}

#window_closed_prevention{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #f0f0f0;
	z-index: 103;
	text-align: center;
	padding: 25px 0px 30px 0px;
}

#window_closed_prevention #back{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #d0d0d0;
}

#window_closed_prevention #wcp_content{
	position: relative;
	padding: 0px 0px 0px 0px;
}

#window_closed_prevention #wcp_content #title{
	font-family: trebuchet ms, arial, sans-serif;
	font-size: 18pt;
	color: black;
	margin: 0px 0px 0px 0px;
}


/* Message box */

.messagebox_info{
	padding: 8px 15px 8px 15px;
	border: 1px solid #c0c0c0;
	margin-bottom: 4px;
}

.messagebox_warning{
	padding: 8px 15px 8px 15px;
	border: 1px solid #b0b0b0;
	margin-bottom: 4px;
	font-style: italic;
}

.messagebox_error{
	padding: 8px 15px 8px 15px;
	border: 1px solid #b0b0b0;
	margin-bottom: 4px;
	font-style: italic;
}


/* Calendar */

#window_calendar{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 103;
}

#window_table_calendar{
	background-color: white;
	border: 1px solid #d0d0d0;
}

.calendar_table{
	font-family: "Lucida Grande", trebuchet ms, arial, sans-serif;
	font-size: 7pt;
}

#calendar_container_x{
	padding: 3px 2px 2px 2px;
	position: relative;
	top: 0px;
	left: 0px;
}

#calendar_table_header_td{
	padding: 2px 4px 2px 4px;
	background-color: #217346;
	color: white;
	text-align: center;
}

#calendar_table_td{
	padding: 2px 4px 2px 4px;
	cursor: pointer;
	text-align: right;
}

#calendar_table_td:hover{
	color: 2C8304;
	background-color: #C4FF67;
}

#calendar_table_td_selected{
	padding: 2px 4px 2px 4px;
	cursor: pointer;
	text-align: right;
	color: 2C8304;
	background-color: #C4FF67;
}

#calendar_table_td_disabled{
	padding: 2px 4px 2px 4px;
}

.calendar_table_yearly{
	padding: 5px 3px 3px 3px;
}

.calendar_table_yearly td:hover{
	background-color: #f0f0f0;
}

.calendar_table_yearly .td_focused{
	background-color: #f8f8f8;
}

#calendar_next{
	position: absolute;
	top: 8px;
	right: 10px;
	height: 16px;
	width: 16px;
	background-image: url('../../resources/images/icons/arrow-right-alt.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

#calendar_next:hover{
	background-image: url('../../resources/images/icons/arrow-right-alt-hover.png');
}

#calendar_previous{
	position: absolute;
	top: 8px;
	left: 10px;
	height: 16px;
	width: 16px;
	background-image: url('../../resources/images/icons/arrow-left-alt.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

#calendar_previous:hover{
	background-image: url('../../resources/images/icons/arrow-left-alt-hover.png');
}


/* Tab */

.tab_table{
	
}

#tab_item_left{
	border-bottom: 1px solid #c0c0c0;	
	width: 12px;
}

#tab_item_right{
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;	
}

#tab_item_bottom{
	background-color: white;
}

.tab_item_focus{
	border-left: 1px solid #c0c0c0;
	border-top: 2px solid #217346;
	padding: 6px 24px 6px 24px;
	cursor: pointer;
}

.tab_item{
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	padding: 6px 24px 6px 24px;
	cursor: pointer;
}


/* Zebra Table */

.profile_picture{
	margin-right: 25px;
	margin-top: 1px;
}

.zebra{
	
}

#zebra_caption{
	padding: 6px 15px 6px 15px;
	background-color: #eaeaea;
	text-align: center;
}

#zebra_title_a{
	padding: 8px 35px 6px 15px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
}

#zebra_title_b{
	padding: 8px 35px 6px 15px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
}

#zebra_content_a{
	padding: 8px 10px 6px 10px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
}

#zebra_content_b{
	padding: 8px 10px 6px 10px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
}

#zebra_separator{
	
}

.profile_picture_small{
	margin-right: 15px;
	margin-top: 1px;
}

.zebra_small{
	
}

#zebra_small_caption{
	padding: 7px 10px 6px 10px;
	background-color: #e2e2e2;
	text-align: center;
	font-weight: bold;
}

#zebra_small_title_a{
	padding: 7px 30px 6px 10px;
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
	text-transform: uppercase;
	color: #00ABA9;
}

#zebra_small_title_b{
	padding: 7px 30px 6px 10px; 
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
	text-transform: uppercase;
	color: #00ABA9;
}

#zebra_small_content_a{
	padding: 7px 10px 6px 10px;
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
}

#zebra_small_content_b{
	padding: 7px 10px 6px 10px;
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
}

#zebra_small_separator{
	
}

.zebra_gray{
	
}

#zebra_gray_caption{
	padding: 7px 12px 7px 12px;
	text-align: center;
	font-weight: bold;
	background-color: #f0f0f0;
}

#zebra_gray_title_a{
	padding: 10px 30px 10px 74px;
	text-align: right;
	background-color: #f0f0f0;
}

#zebra_gray_title_b{
	padding: 10px 30px 10px 74px;
	text-align: right;
}

#zebra_gray_content_a{
	padding: 10px 10px 10px 10px;
	text-align: left;
	background-color: #f0f0f0;
}

#zebra_gray_content_b{
	padding: 10px 10px 10px 10px;
	text-align: left;
}

#zebra_gray_separator{
	
}

.zebra_small_gray{
	
}

#zebra_small_gray_caption{
	padding: 7px 12px 7px 12px;
	text-align: center;
	font-weight: bold;
	background-color: #e2e2e2;
}

#zebra_small_gray_title_a{
	padding: 7px 30px 7px 12px;
	text-align: left;
	background-color: white;
	color: #404040;
}

#zebra_small_gray_title_b{
	padding: 7px 30px 7px 12px;
	text-align: left;
	color: #404040;
}

#zebra_small_gray_content_a{
	padding: 7px 10px 7px 10px;
	text-align: left;
	background-color: white;
}

#zebra_small_gray_content_b{
	padding: 7px 10px 7px 10px;
	text-align: left;
}

#zebra_small_gray_separator{
	
}

.zebra_small_gray_shadow{
	padding: 2px 2px 2px 2px;
}

#zebra_small_gray_shadow_caption{
	background-color: #eaeaea;
	font-weight: bold;
	text-align: center;
	height: 30px;
	padding: 5px 8px 5px 8px;
}

#zebra_small_gray_shadow_title_a{
	padding: 7px 30px 7px 12px;
	background-color: #f4f4f4;
	text-align: left;
	font-weight: bold;
}

#zebra_small_gray_shadow_title_b{
	padding: 7px 30px 7px 12px;
	background-color: white; 
	text-align: left;
	font-weight: bold;
}

#zebra_small_gray_shadow_content_a{
	padding: 7px 10px 7px 10px;
	background-color: #f4f4f4;
	text-align: left;
}

#zebra_small_gray_shadow_content_b{
	padding: 7px 10px 7px 10px;
	background-color: white; 
	text-align: left;
}

#zebra_small_gray_shadow_separator{
	
}


/* Medical Record Data */

.data_no_border .medical_record_td{
	padding: 0px 0px 0px 0px;
}

.data_no_border .medical_record_detail_a{
	padding: 4px 14px 14px 48px;
	background-color: #eaeaea;
}

.data_no_border .medical_record_detail_b{
	padding: 4px 14px 14px 48px;
	background-color: #fafafa;
}

.medical_record_foto{
	border: 5px solid white;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Help */

#help_item{
	background-color: #f4f4f4;
	padding: 15px 25px 15px 25px;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	position: relative;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#help_item:hover{
	background-color: #eaeaea;
	top: 3px;
}

#help_item img{
	opacity: 0.6;
	padding-bottom: 5px;
}

.help_link{
	text-decoration: none;
	color: black;
	display: inline-block;
}
